@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
}

.root {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
}

.top {
  width: 100%;
  height: 600px;
}

.button-div {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-start;
  left: 156px;
}

.next-page {
  background-color: rgba(213, 150, 108, 1);
  width: 56px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-text {
  width: 204px;
  height: 72px;
  background-color: rgba(21, 21, 21, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-header {
  font-family: "Big Shoulders";
  font-weight: 800;
  font-size: 20px;
  color: white;
  letter-spacing: 3.64px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.maps {
  width: 100%;
  height: 600px;
  object-fit: cover;
  display: block;
}

.destination-mark {
  position: absolute;
}

.middle {
  background-color: rgba(21, 21, 21, 1);
  width: 100%;
  height: 548px;
}

.bottom {
  background-color: rgba(213, 150, 108, 1);
  max-width: 1440px;
  width: 100%;
  height: 244px;
  color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bottom-info {
  max-width: 380px;
  width: 100%;
  min-width: 311px;
  height: 84px;
  align-self: center;
}

.bottom-header {
  font-family: "Big Shoulders";
  font-weight: 900;
  font-size: 40px;
  max-width: 200px;
  width: 100%;
}

.bottom-infos {
  display: flex;
  align-items: center;
  max-width: 730px;
  width: 100%;
  justify-content: space-between;
}

.media-logos {
  display: flex;
  gap: 20px;
}

.button-div:hover .location-text {
  background-color: rgba(213, 150, 108, 1);
  cursor: pointer;
}

.button-div:hover .next-page {
  background-color: rgba(21, 21, 21, 1);
  cursor: pointer;
}

.bottom-everything {
  max-width: 1110px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.logo {
  width: 20px;
}

span {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: white;
}

.second-middle-heading {
  color: rgba(213, 150, 108, 1);
  font-weight: 900;
  font-size: 32px;
  line-height: 32px;
  font-family: "Big Shoulders";
}

.middle-heading {
  font-family: "Big Shoulders";
  font-weight: 900;
  max-width: 300px;
  font-size: 70px;
  line-height: 70px;
  letter-spacing: 0px;
  color: white;
}

.big-info {
  display: flex;
  max-width: 540px;
  min-width: 300px;
  width: 100%;
  font-weight: 400;
  font-size: 22px;
}

.middle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.everything-middle {
  display: flex;
  max-width: 1110px;
  width: 100%;
  justify-content: space-between;
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
}

.small-infos {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 650px) {
  .button-div {
    left: 50px;
  }
  .everything-middle {
    flex-wrap: wrap;
    padding: 16px;
    gap: 48px;
    max-width: 343px;
  }
  .middle-heading {
    font-size: 50px;
  }
  .bottom {
    height: 336px;
    padding: 30px;
  }
  .bottom-everything {
    gap: 38px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .bottom-infos {
    gap: 38px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .infos {
    justify-content: space-between;
    height: 350px;
  }
  .bottom-everything {
    justify-content: flex-start;
  }
  .bottom-infos {
    justify-content: flex-start;
  }
}
