@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body,
html {
  display: flex;
  align-items: center;
  justify-content: center;
}

.root {
  max-width: 1440px;
  width: 100%;
  height: 2554px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.top-div {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.black-div {
  background-color: rgba(21, 21, 21, 1);
  width: 450px;
  min-width: 450px;
  height: 800px;
}

.heading {
  font-family: "Big Shoulders";
  font-weight: 900;
  font-size: 96px;
  line-height: 88px;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
  width: 514px;
  height: 176px;
}

.heading-different-color {
  font-family: "Big Shoulders";
  color: black;
}

.info-href {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-nextpage-button {
  height: 296px;
  gap: 246px;
  display: flex;
  flex-direction: row;
  position: relative;
  top: 190px;
  right: 827px;
}

.info {
  max-width: 390px;
  width: 100%;
  height: 160px;
  font-weight: 400;
  line-height: 32px;
  font-size: 22px;
  color: rgba(68, 68, 68, 1);
}

.button-div {
  width: 260px;
  height: 72px;
  display: flex;
}

.location-text {
  width: 204px;
  height: 72px;
  background-color: rgba(21, 21, 21, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-header {
  font-family: "Big Shoulders";
  font-weight: 800;
  font-size: 20px;
  color: white;
  letter-spacing: 3.64px;
}

.next-page {
  background-color: rgba(213, 150, 108, 1);
  width: 56px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-div {
  max-width: 1110px;
  height: 1150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.info-pictures {
  display: flex;
  justify-content: space-between;
}

.infos-middle {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  height: 280px;
  width: 100%;
  justify-content: space-between;
  align-self: center;
}

.info-middle {
  color: rgba(68, 68, 68, 1);
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
}

.heading-middle {
  font-family: "Big Shoulders";
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  color: rgba(21, 21, 21, 1);
}

.middle-second {
  display: flex;
  gap: 30px;
}

.middle-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.second-heading-middle {
  font-family: "Big Shoulders";
  font-weight: 900;
  font-size: 60px;
  width: 350px;
}

.second-black-div {
  max-width: 445px;
  height: 377px;
  width: 100%;
  background-color: rgba(21, 21, 21, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 32px;
}

.second-info-middle {
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  width: 350px;
}

.bottom-div {
  background-color: rgba(21, 21, 21, 1);
  width: 100%;
  height: 244px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bottom-info {
  width: 380px;
  height: 84px;
  align-self: center;
}

.bottom-header {
  font-family: "Big Shoulders";
  font-weight: 900;
  font-size: 40px;
  width: 350px;
}

.bottom-infos {
  display: flex;
  gap: 140px;
  align-items: center;
}

.media-logos {
  display: flex;
  gap: 20px;
}
