@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
}

.root {
  max-width: 1440px;
  width: 100%;
  height: 2554px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.top-div {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.black-div {
  background-color: rgba(21, 21, 21, 1);
  max-width: 450px;
  min-width: 0px;
  width: 100%;
  height: 800px;
}

.heading {
  font-family: "Big Shoulders";
  font-weight: 900;
  font-size: 96px;
  line-height: 88px;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
  width: 514px;
  height: 176px;
}

.heading-different-color {
  font-family: "Big Shoulders";
  color: black;
}

.info-href {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 64px;
}

.hero {
  position: relative;
  max-width: 1440px;
}

.info-nextpage-button {
  max-width: 1000px;
  position: absolute;
  top: 20vh;
  right: -32.4%;
  display: flex;
  gap: 13.6vw;
  flex-direction: row;
}

.info {
  max-width: 390px;
  width: 100%;
  height: 160px;
  font-weight: 400;
  line-height: 32px;
  font-size: 22px;
  color: rgba(68, 68, 68, 1);
}

.button-div {
  width: 260px;
  height: 72px;
  display: flex;
}

.location-text {
  width: 204px;
  height: 72px;
  background-color: rgba(21, 21, 21, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-header {
  font-family: "Big Shoulders";
  font-weight: 800;
  font-size: 20px;
  color: white;
  letter-spacing: 3.64px;
}

.next-page {
  background-color: rgba(213, 150, 108, 1);
  width: 56px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-div:hover .location-text {
  background-color: rgba(213, 150, 108, 1);
  cursor: pointer;
}

.button-div:hover .next-page {
  background-color: rgba(21, 21, 21, 1);
  cursor: pointer;
}

.middle-div {
  max-width: 1110px;
  height: 1150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.info-pictures {
  display: flex;
  justify-content: space-between;
}

.infos-middle {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  height: 280px;
  width: 100%;
  justify-content: space-between;
  align-self: center;
}

.info-middle {
  color: rgba(68, 68, 68, 1);
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
}

.heading-middle {
  font-family: "Big Shoulders";
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  color: rgba(21, 21, 21, 1);
}

.middle-second {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.middle-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.second-heading-middle {
  font-family: "Big Shoulders";
  font-weight: 900;
  font-size: 60px;
  max-width: 350px;
}

.second-black-div {
  max-width: 445px;
  height: 377px;
  width: 100%;
  background-color: rgba(21, 21, 21, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 32px;
  padding: 50px;
}

.second-info-middle {
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  width: 350px;
}

.image-container-one {
  width: 100%;
  min-height: 200px;
  overflow: hidden;
  max-width: 635px;
  min-width: 343px;
}

.image-container-one img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.image-container-two {
  width: 100%;
  min-height: 200px;
  overflow: hidden;
  max-width: 635px;
  min-width: 343px;
}

.image-container-two img {
  width: 100%;
  height: 720px;
  object-fit: cover;
}

.image-container-three {
  width: 100%;
  min-height: 200px;
  overflow: hidden;
  max-width: 635px;
  min-width: 343px;
}

.image-container-three img {
  width: 100%;
  height: 313px;
  object-fit: cover;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.bottom-div {
  background-color: rgba(21, 21, 21, 1);
  max-width: 1440px;
  width: 100%;
  height: 244px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bottom-info {
  max-width: 430px;
  width: 100%;
  height: 84px;
  align-self: center;
}

.next-pageimg {
  max-width: 8px;
  max-height: 24px;
}

.bottom-header {
  font-family: "Big Shoulders";
  font-weight: 900;
  font-size: 40px;
  max-width: 210px;
  width: 100%;
}

.bottom-infos {
  display: flex;
  align-items: center;
  max-width: 730px;
  width: 100%;
  justify-content: space-between;
}

.media-logos {
  display: flex;
  gap: 20px;
}

.logo {
  cursor: pointer;
}

.bottom-everything {
  max-width: 1110px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media only screen and (max-width: 1158px) {
  .info-nextpage-button {
    right: 0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .info-href {
    align-self: flex-start;
    gap: 28px;
  }
  .heading {
    max-width: 334px;
    font-size: 65px;
    color: black;
  }
}

.bottom-div {
  height: 336px;
  padding: 30px;
}
.bottom-everything {
  gap: 38px;
  justify-content: center;
}
.bottom-everything {
  flex-wrap: wrap;
}
.bottom-infos {
  gap: 38px;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 675px) {
  .root {
    height: 2811px;
  }
  .middle-div {
    padding: 16px;
    height: auto;
  }
  .info-pictures {
    flex-wrap: wrap;
  }
  .middle-second {
    flex-wrap: wrap;
    justify-content: center;
  }
  .bottom-everything {
    justify-content: flex-start;
  }
  .bottom-infos {
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 541px) {
  .hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    height: 800px;
  }
  .black-div {
    display: none;
  }
  .info-nextpage-button {
    left: 7vw;
  }
}

@media only screen and (max-width: 430px) {
  .middle-column {
    max-width: 343px;
    gap: 10px;
  }
  .image-container-three {
    max-width: 343px;
  }
  .second-black-div {
    padding: 20px;
    height: 293px;
    gap: 0px;
  }
  .second-info-middle {
    max-width: 343px;
    padding: 15px;
  }
  .middle-div {
    gap: 6px;
  }
}
